{% extends '::base_back.html.twig' %}

{% block content %}

    <h3 class="text-info">Id : {{ contact.id }} updtating...</h3>

    <div class="form-contact-update">

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form) }}

            {{ form_widget(form.title, {'attr': {'class': '' } }) }}
            {{ form_errors(form.title) }}

            {{ form_widget(form.firstname, {'attr': {'class': ''} }) }}
            {{ form_errors(form.firstname) }}

            {{ form_widget(form.lastname, {'attr': {'class': ''} }) }}
            {{ form_errors(form.lastname) }}

            {{ form_widget(form.email, {'attr': {'class': ''} }) }}
            {{ form_errors(form.email) }}

            {{ form_widget(form.object, {'attr': {'class': ''} }) }}
            {{ form_errors(form.object) }}

            {{ form_widget(form.message, {'attr': {'class': ''} }) }}
            {{ form_errors(form.message) }}

            <button type="submit" class="btn btn-primary">Edit</button>

            {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
