{% extends 'base_back.html.twig' %}

{% block content %}
    <h1 class="text-danger">Administrator : </h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Active</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.date.date|date('d/m/Y h:i:s') }}</td>
                        {% if article.active %}
                            <td>ENABLE</td>
                        {% else %}
                            <td>DISABLE</td>
                        {% endif %}
                        <td>{{ article.Author }}</td>
                        <td>
                            <a id="article-id" href="{{ path('back_article_show', { 'articleId': article.id    }) }}" class="pull-left btn btn-info">Show</a>
                            <a id="article-id" href="{{ path('back_article_update', { 'articleId': article.id    }) }}" class="pull-left btn btn-warning">update</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}