{% extends '::base_back.html.twig' %}

{% block content %}
    <h1 class="text-danger">Administrator : </h1>
    <a class="pull-right btn btn-info link-new-article" href="{{ path('back_article_new') }}">New article</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Categories</th>
                    <th>Date</th>
                    <th>Nb comments</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.Author }}</td>
                            <td>
                                {% for category in article.categories %}
                                    {{ category.name }} {% if loop.last != true %}/{% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ article.date.date|date('d/m/Y h:i:s') }}</td>
                            <td>{{ article.comments|length }}</td>
                            {% if article.active %}
                                <td>Enable <i class="fa fa-circle text-success" aria-hidden="true"></i></td>
                            {% else %}
                                <td>Desable <i class="fa fa-circle text-danger" aria-hidden="true"></i></td>
                            {% endif %}
                            <td>
                                <a id="article-id" href="{{ path('back_article_show', { 'articleId': article.id }) }}" class="pull-left btn btn-info">Show</a>
                                <a id="article-id" href="{{ path('back_article_update', { 'articleId': article.id }) }}" class="pull-left btn btn-warning">Update</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}