{% extends '::base_back.html.twig' %}

{% block content %}
    <div class="bloc-article-writing">
        {{ form_start(form, {'attr': {'class': 'form'} }) }}

            {{ form_errors(form) }}

                {{ form_label(form.categories, "Category", {'label_attr': {'class': 'text-primary'} }) }}
                {{ form_widget(form.categories, {'attr': {'class': ''} }) }}
                {{ form_errors(form.categories) }}

                {{ form_label(form.title, "Title ", {'label_attr': {'class': 'text-primary'} }) }}
                {{ form_widget(form.title, {'attr': {'class': ''} }) }}
                {{ form_errors(form.title) }}

                {{ form_label(form.content, "Article", {'label_attr': {'class': 'text-primary'} }) }}
                {{ form_widget(form.content, {'attr': {'class': ''} }) }}
                {{ form_errors(form.content) }}

                {{ form_label(form.author, "Author ", {'label_attr': {'class': 'text-primary'} }) }}
                {{ form_widget(form.author, {'attr': {'class': ' input-author'} }) }}
                {{ form_errors(form.author) }}

                {{ form_row(form.active, {'attr': {'class': 'hidden'} }) }}
                {{ form_errors(form.active) }}

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary input-post-article'} }) }}

                {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}