{% extends 'base_back.html.twig' %}

{% block content %}
    <div class="block-article-and-comment">
        <div class="article show-article">
            <p><a href="{{ path('back_article_index') }}" class="return-blog btn btn-info input-post-article"><i class="fa fa-undo" aria-hidden="true"></i> Return</a></p>
            <h4 class="text-info">{{ article.title }}</h4>
            <p>{{ article.content }}</p>
            <p class="pull-right text-info">Posted the {{ article.date.date|date('F  j  Y, H\\h i\\m') }}</p>
            <p class="pull-left text-info">By {{ article.author }}</p>
        </div>
        <div class="comment-block">
            {% for comment in comments %}
                <div class="article">
                    <p class="">{{ comment.content }}</p>
                    <p class="text-info">Posted the {{ comment.date.date|date('F  j  Y, H\\h i\\m') }}</p>
                    <a href="{{ path('back_comment_show', { 'commentId': comment.id }) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('back_comment_update', { 'commentId': comment.id }) }}" class="btn btn-warning">Update</a>
                    <a href="{{ path('back_comment_show', { 'commentId': comment.id }) }}" class="btn btn-danger">Delete</a>
                    <p class="text-center text-info">Status : {{ comment.active }}<p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}