{% extends '::base_back.html.twig' %}

{% block content %}

    {% form_theme form':back/article/form:tag.html.twig' %}

    <h2>Id : {{ article.id }} updating...</h2>
    <a href="{{ path('back_article_index') }}" class="btn btn-info"><i class="fa fa-undo" aria-hidden="true"></i> Return</a>

    <div class="bloc-article-update">

        {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_label(form.categories, "Category", {'label_attr': {'class': 'text-primary'} }) }}
            {{ form_widget(form.categories, {'attr': {'class': ''} }) }}
            {{ form_errors(form.categories) }}

            {{ form_widget(form.title, {'attr': {'class': ''} }) }}
            {{ form_errors(form.title) }}

            {{ form_widget(form.content, {'attr': {'class': ''} }) }}
            {{ form_errors(form.content) }}

            {{ form_widget(form.author, {'attr': {'class': ''} }) }}
            {{ form_errors(form.author) }}

            {{ form_widget(form.active, {'attr': {'class': ''} }) }}
            {{ form_errors(form.active) }}

            <button id="add-tag" class="btn btn-info">Add tag</button>

            {{ form_widget(form.tags, {'attr': {'class': ''} }) }}
            {{ form_errors(form.tags) }}

            <button type="submit" class="btn btn-primary">Edit</button>

            {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}