<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('front_index') }}" class="">Amazing Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class=""><a href="{{ path('front_index') }}" class="">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">

                    {% for category in categories %}

                        <li class="li-sub-category"><a href="{{  path('front_category_show', { 'categoryId': category.id }) }}">{{ category.name }}</a></li>

                    {% endfor %}

                </ul>
            </li>
            <li><a href="{{ path('front_faq') }}" class="">FAQ</a></li>
            <li><a href="{{ path('front_contact') }}" class="">Contact</a></li>
            <li><a href="{{ path('front_register') }}">Register</a></li>
            <li><a href="{{ path('front_login') }}">Login</a></li>
        </ul>
    </div>
</nav>

{#

<div class="block-menu">
    <ul class="menu">
        <li class="active"><a href="{{ path('front_index') }}" class="">Home</a></li>
        <li class="li-menu li-category">Categories
            <ul class="ul-sub-category">
                {% for category in categories %}
                    <li class="li-sub-category"><a href="{{  path('front_category_show', { 'categoryId': category.id }) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="li-menu"><a href="{{ path('front_faq') }}" class="">FAQ</a></li>
        <li class="li-menu"><a href="{{ path('front_contact') }}" class="">Contact</a></li>
        <li class="li-menu"><a class="link-register" href="{{ path('front_register') }}">Register</a></li>
        <li class="li-menu"><a class="link-register" href="{{ path('front_login') }}">Login</a></li>
    </ul>
</div>

#}