<div class="block-search-engine">

    {{ form_start(form, { 'attr': { 'action': path('front_search'), 'class': 'form' } }) }}

        {{ form_errors(form) }}

        <div class="block-search-ca">

            {{ form_widget(form.categories, { 'attr': { 'class': '' } }) }}
            {{ form_errors(form.categories) }}

            <button id="btn-search-by-ca" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

        <div class="block-search-date">

            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate, { 'attr': { 'class': '' } }) }}
            {{ form_errors(form.startDate) }}

            {{ form_label(form.endDate) }}
            {{ form_widget(form.endDate, { 'attr': { 'class': '' } }) }}
            {{ form_errors(form.endDate) }}

            <button id="btn-search-by-date" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

        <div class="block-search-term">
            <div class="input-group">

                {{ form_widget(form.term, { 'attr': { 'class': 'input-search' } }) }}

                <div class="input-group-btn">
                    <button id="btn-search-by-term" type="submit" class="btn btn-danger"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        {{ form_errors(form.term) }}

        {{ form_rest(form) }}

    {{ form_end(form) }}

</div>