<div class="row block-search-engine">
    {{ form_start(form, { 'attr': { 'action': path('front_search'), 'class': 'form' } }) }}
    <div class="champs-searching">
        {{ form_errors(form) }}
        {{ form_widget(form.term, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.term) }}
        {{ form_widget(form.categories, { 'attr': { 'class': '' } }) }}
        {{ form_errors(form.categories) }}
        {{ form_label(form.startDate) }}
        {{ form_widget(form.startDate, { 'attr': { 'class': '' } }) }}
        {{ form_errors(form.startDate) }}
        {{ form_label(form.endDate) }}
        {{ form_widget(form.endDate, { 'attr': { 'class': '' } }) }}
        {{ form_errors(form.endDate) }}
    </div>
    <div class="block-button-search">
        <button type="submit" class="btn btn-default button-search"><i class="fa fa-search fa-1x" aria-hidden="true"></i></button>
    </div>
        {{ form_rest(form) }}

    {{ form_end(form) }}
</div>