{% extends 'base.html.twig' %}

{% block content %}
    <div class="row"style="margin-left: 0;margin-right: 0;margin-bottom: 30px;">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_label(form.title, "Title :", {'label_attr': {'class': 'text-primary'} }) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_label(form.content, "Add your article", {'label_attr': {'class': 'text-primary'} }) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_label(form.author, "Author :", {'label_attr': {'class': 'text-primary'} }) }}
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <div class="row block-article">
        {% for result in results %}
            <article class="col-md-6 col-lg-6">
                <dl>
                    <dt class="contact-title">{{ result.title }}</dt>
                    <dd class="contact-content">{{ result.content }}</dd>
                    <dd class="contact-author">Atuhor : {{ result.author }}</dd>
                    <dd class="contact-date">{{ result.date.date }}</dd>
                </dl>
            </article>
        {% endfor %}
    </div>
{% endblock %}