{% extends 'base.html.twig' %}

{% block content %}
    <div class="block-article-and-comment">
        <div class="article">
            <p>{{ article.title }}</p>
            <p>{{ article.content }}</p>
            <p>{{ article.author }}</p>
            <p>Posted the {{ article.date.date|date('F  j  Y, H\\h i\\m') }}</p>
            {{ form_start(form, {'attr': {'class': 'form'} }) }}
            {{ form_errors(form) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-info input-post-article' } })  }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <div class="comment-block">
            {% for comment in comments %}
                <div class="article">
                    <p>{{ comment.content }}</p>
                    <p>Posted the {{ comment.date.date|date('F  j  Y, H\\h i\\m') }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}