{% extends 'base.html.twig' %}

{% block content %}
    <div class="row"style="margin-left: 0;margin-right: 0;margin-bottom: 30px;">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_label(form.title, "Title :", {'label_attr': {'class': 'text-primary'} }) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_label(form.content, "Add your article", {'label_attr': {'class': 'text-primary'} }) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_label(form.author, "Author :", {'label_attr': {'class': 'text-primary'} }) }}
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
            {{ form_widget(form.save) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
        {% for result in results %}
            <div class="row well" style="margin-left: 0;margin-right: 0;">
                <dl>
                    <dt style="margin-bottom: 15px;">{{ result.title }}</dt>
                    <dd style="margin-bottom: 15px;">{{ result.content }}</dd>
                    <dd style="float: left;position: relative;bottom:0;">{{ result.author }}</dd>
                    <dd style="float: right;">{{ result.date.date }}</dd>
                </dl>
            </div>
        {% endfor %}
{% endblock %}