{% extends '::base_front.html.twig' %}

{% block content %}
    <div class="well">
        {{ nbComments }} comments in this article.
    </div>
    {# <a href="{{ path('front_index') }}" class="btn btn-primary"><i class="fa fa-undo" aria-hidden="true"></i> Go Home</a> #}

    <div class="container-fluid block-article-comment-front">
        <div class="block-article">
            <div class="article">
                <header class="">
                    <h2>{{ article.title }}</h2>
                </header>
                <div class="">
                    <p class="">{{ article.content }}</p>
                </div>
                <div class="">
                    <p class="pull-right">Posted the {{  article.date|date('F  j  Y, H\\h i\\m') }}</p>
                </div>
                <div class="">
                    <p class="">By {{ article.author }}</p>
                </div>

                <hr>

                <button id="show-form-comment" class="btn btn-primary">Comment</button>

                {{ form_start(form, {'attr': {'class': 'form'} }) }}

                    {{ form_errors(form) }}
                    {{ form_row(form.active, {'attr': {'class': 'hidden'} }) }}

                    <div class="writing-comment-and-button">

                        {{ form_widget(form.content) }}
                        {{ form_errors(form.content) }}

                        <button type="submit" id="add-comment" class="btn btn-danger">Comment</button>
                    </div>

                    {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>

        <div class="block-comment">

            {% for comment in comments %}

                <div class="row comment">
                    <div class="">
                        <p class="">{{ comment.content }}</p>
                    </div>
                    <div class="">
                        <p class="pull-right">Posted the {{ comment.date|date('F  j  Y, H\\h i\\m') }}</p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}