{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.author, "Athor :") }}
        {{ form_widget(form.author) }}
        {{ form_errors(form.author) }}
        {{ form_label(form.content, "Add your article") }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.save) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
    </br></br>
    <table border=1 style="text-align: center;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Content</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.author }}</td>
                <td>{{ result.content }}</td>
                <td>{{ result.date.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}