{% extends '::base_front.html.twig' %}

{% block content %}
	<div id="success-contact"></div>
	<div class="form-contact">
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			{{ form_errors(form) }}

				{{ form_widget(form.title, {'attr': {'class': '' } }) }}
				{{ form_errors(form.title) }}

				{{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.firstname) }}

				{{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.lastname) }}

				{{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.email) }}

				{{ form_widget(form.object, {'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.object) }}

				{{ form_widget(form.message, {'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.message) }}

				<button type="submit" class="btn btn-primary">Send</button>

		    {{ form_rest(form) }}

		{{ form_end(form) }}
	</div>
{% endblock %}