{% extends 'base.html.twig' %}

{% block content%}
	{% for firstname in firstnames|sort %}
		{% if firstname|length <= 4 %}
			{{ firstname }}
		{% endif %}
	{% endfor %}
	</br></br>
	{% for key, people in peoples %}
		<p>{{ people.firstname }} : {{ key }}</p>
		<p>{{ people.lastname }} : {{ key }}</p>
		{% for key, child in people.children %}
			<p>{{ child.firstname }} : {{ key }}</p>
			<p>{{ child.lastname }} : {{ key }}</p>
			<p>{{ child.age }} : {{ key }}</p>
		{% endfor %}</br></br>
	{% endfor %}
{% endblock %}