<div class="block-hamburger">
    <button id="hamburger" class="btn btn-warning"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></button>
</div>
<div class="block-menu">
    <ul class="nav nav-pills menu">
        <li role="presentation" class="li-pills li-menu"><a href="{{ path('front_index') }}" class="">Home</a></li>
        <li role="presentation" class="li-pills li-menu"><a href="{{ path('front_article') }}" class="">Blog</a></li>
        <li role="presentation" class="li-pills li-menu"><a href="{{ path('front_faq') }}" class="">FAQ</a></li>
        <li role="presentation" class="li-pills li-menu"><a href="{{ path('front_contact_form') }}" class="">Contact</a></li>
        <li role="presentation" class="li-pills li-menu"><a href="{{ path('back_contact_list') }}" class="">Crud</a></li>
    </ul>
</div>