{% extends '::base_back.html.twig' %}

{% block content %}
    {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="input-group">
            {{ form_widget(form.name, { 'attr': { 'class': '' } }) }}
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}