{% extends '::base_back.html.twig' %}

{% block content %}
    {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form.role) }}
        {{ form_errors(form.role) }}

        {{ form_rest(form) }}

        <button class="btn btn-default" type="submit">Add</button>

    {{ form_end(form) }}

{% endblock %}