<div class="block-menu">
    <ul class="menu">
        <li class="li-menu"><a href="{{ path('back_index') }}" class="">Home</a></li>
        <li class="li-menu"><a href="{{ path('back_category_index') }}" class="">Category</a></li>
        <li class="li-menu"><a href="{{ path('back_article_index') }}" class="">Article</a></li>
        <li class="li-menu"><a href="{{ path('back_contact_index') }}" class="">Contact</a></li>
        <li class="li-menu"><a href="{{ path('back_user_index') }}" class="">Users</a></li>
        <li class="li-menu"><a href="{{ path('back_role_index') }}" class="">Rôle</a></li>
        <li class="li-menu"><a href="{{ path('logout') }}" class="btn btn-danger">Logout</a></li>
    </ul>
</div>